@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    width: 1140px;
    margin: 0 auto;
}
body {
    background: #cccccc;
}
@media (max-width: 2000px) {
    .container {
        width: 90%;
    }
}
@media (max-width: 576px) {
    .relative {
        left: 1%;
    }
}